* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Containers log in y register*/
.sectionFormUser {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    position:fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#formAuthContainer {
    background-color: #c76e2e;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#formRegContainer {
    background-color: #c76e2e;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.show {
    pointer-events: auto;
    opacity: 1;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: #0056b3;
    background-image: url('../images/background-imageOK.jpg');

  }
  
  header img {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 250px;
  }
  
  header h2 {
    margin: 1rem 0;
    font-family: 'nytimesStyle';
    font-size: 2rem;
    background-color: white;
  }

/* Spinner */
.spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Filters*/
#booksFilters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem;
    margin: 0 auto; /* Centrado horizontal */
    max-width: 800px; /* Ancho máximo */
}

#booksFilters2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#booksFilters2 > div {
    flex: 1 1 calc(33.33% - 20px); /* Tres columnas, con margen entre ellas */
    max-width: 300px; /* Ancho máximo de cada elemento */
}

.clear-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px; /* Espacio arriba del botón Clear */
}

.clearButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clearButton:hover {
    background-color: #0056b3;
}


#filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem 0;
    margin: 0 1rem;
    max-width: 600px;
}

#booksFilters.hidden {
    display: none;
}

#filters.hidden {
    display: none;
}

/*#filters label, #booksFilters label {
    font-weight: bold;
}

label, select, input, button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    max-width: 300px;
    width: 100%;
}*/



/*Botones*/
.buttonFilter, .buttonTituloFilter, .buttonAuthorFilter {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #ec870b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonFilter:hover, .buttonTituloFilter:hover, .buttonAuthorFilter:hover {
    background-color: #dd762c;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#loginButton, #registerButton, #myProfileButton {
    background-color: #ec870b;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;

}

#loginButton:hover, #registerButton:hover, #myProfileButton:hover {
    background-color: #dd762c;
}

#loginButton.hidden {
    display:none;
}

#registerButton.hidden {
    display:none;
}

/* Cards */ 
#cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.contenedorCard {
    background-color: #f9f9f9;
    border: 1px solid #c76e2e;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenedorCard h3 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.contenedorCard hr {
    margin: 0.5rem 0;
    color: #c76e2e;
}

.contenedorCard p, .contenedorLibro p {
    margin: 0.5rem 0;
    color: #c76e2e;
}

.contenedorCard button, .contenedorLibro a button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #c76e2e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contenedorCard button:hover, .contenedorLibro a button:hover {
    background-color: #dd762c;
}


#botonFilter, #botonAuthorFilter, #botonTituloFilter {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #ec870b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botonFilter:hover, #botonAuthorFilter:hover, #botonTituloFilter:hover {
    background-color: #dd762c;
}

.clear-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height:50%;
}

.clearButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clearButton:hover {
    background-color: #0056b3;
}

/* Sección del botón de retroceso */
#sectionBoton {
    margin: 1rem 0;
    text-align: center;
}

#sectionBoton button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #ec870b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sectionBoton button:hover {
    background-color: #dd762c;
}

/* Estilo de la sección del título de la lista */
#sectionTituloLista {
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
}

.contenedorLibro {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 4px #dd762c;
    text-align: center;
}

.contenedorLibro h4 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.contendor-imagen {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedorCard img, .contenedorLibro img {
    width: 100%;
    height: auto;
    max-width: 150px;
  }

.contenedorLibro p {
    margin: 0.5rem 0;
}
.contenedorLibro a {
    display: block; /* Hace que los botones dentro de .contenedorLibro ocupen todo el ancho disponible */
    text-align: center;
    margin-top: 10px; /* Espacio entre los botones y otros elementos */
    margin-bottom: 8px;
}

.contenedorLibro a button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: inherit; /* Hereda el tamaño de fuente */
}

.contenedorLibro a button:hover {
    background-color: #27ae60;
}

#sectionPicProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sectionPicProfile.hidden {
    display: none;
}

/* Botón Me gusta */
.heartButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    font-size: inherit; /* Hereda el tamaño de fuente */
    position: relative;
}

.heartButton:hover {
    background-color: #27ae60;
    transform: scale(1.2);
}

.heartButton::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.heartButton.liked::after {
    transform: scale(1.5);
    opacity: 0.3;
}

.heartButton.liked::before {
    content: '\2665'; /* Corazón relleno */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: inherit; /* Hereda el tamaño de fuente */
    transition: color 0.2s ease-in-out;
    position: absolute;
}


/*Pagination*/
#pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  #pagination-controls button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #ec870b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 0.5rem;
  }
  
  #pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  #profilePic {
    max-width: 150px;
  }

  #footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 20px;
    bottom: 0;
    width: 100%;
}


/* Responsive adjustments */
@media (min-width: 600px) {

    #cards {
        grid-template-columns: repeat(4, 1fr);
    }

    #filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 100vw;

    }

    

    label, select, input, button {
        margin: 0.5rem;
        width: calc(33.333% - 1rem);
    }

    .flex-container {
        flex-direction: row;
        align-items: center;
    }
    #booksFilters2 > div {
        flex: 0 1 calc(50% - 20px); /* Dos columnas en pantallas medianas */
    }

}

@media (min-width: 768px) {

    #cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

   .contenedorCard, .contenedorLibro {
        flex: 0 1 calc(48% - 2rem);
        margin: 1rem;
    }

    .flex-container {
        flex-direction: row;
        align-items: center;
    }

    .flex-container label, .flex-container input, .flex-container button {
        margin: 5px;
    }

    #booksFilters2 {
        flex-direction: row;
        align-items: center;
    }

    #booksFilters2 > div {
        flex: 0 1 calc(50% - 20px); /* Dos columnas en pantallas medianas */
    }
}



@media (min-width: 1024px) {
    .contenedorCard {
        flex: 0 1 calc(33.333% - 2rem);
    }
    #booksFilters2 > div {
        flex: 0 1 calc(50% - 20px); /* Dos columnas en pantallas medianas */
    }
}

